<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <title>{{ title }}</title>
</head>
<body>
<div id="container">
    <div id="header">
        header
    </div>
    <div id="flex">
        <aside id="leftSidebar">
            <h1>left Sidebar</h1>
            {{ table of contents }}
        </aside>
        <main>
            {{ content }}
        </main>
        <aside id="rightSidebar">
            <h1>right Sidebar</h1>
        </aside>
    </div>
    <footer>
        footer
    </footer>
</div>
</body>
</html>